* { margin:0; padding:0;}

body { background-color:antiquewhite;}


header { background-color:black; padding:15px; display:flex; align-items:center; position:sticky; top:0;}

header #logo { color:#fff; font-size:24px; border:2px solid #fff; padding:5px 25px;}
header nav { display:flex; justify-content:end; flex:1;}
header nav a { color:#fff; text-decoration:none; margin:0 20px; font-size:20px;}

#content .section { width:1200px; margin:0 auto; padding:50px 30px; background-color:#fff; display:grid;}

footer { padding:50px 0; background-color:olive;}